In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv(r"diamonds.csv")
diamonds_color_price = pd.read_csv(r"diamonds.csv", usecols=['color', 'price'])

In [16]:
df.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [17]:
diamonds = diamonds_color_price.copy()
diamonds

      color  price
0         E    326
1         E    326
2         E    327
3         I    334
4         J    335
...     ...    ...
53935     D   2757
53936     D   2757
53937     D   2757
53938     H   2757
53939     D   2757

[53940 rows x 2 columns]

In [18]:
meanByColor = diamonds.groupby("color")
meanByColor.mean()

             price
color
D      3169.954096
E      3076.752475
F      3724.886397
G      3999.135671
H      4486.669196
I      5091.874954
J      5323.818020

In [19]:
from random import randint, sample

In [20]:
randomizingNan = sample(range(0, diamonds.shape[0]), 5)
randomizingNan

[45267, 41319, 7441, 20999, 27055]